.layout {
  min-height: calc(100vh);
  background: none;
}


.background {
  position: absolute;
  height: calc(100vh);
  width: calc(100vw);
  /* filter: blur(2px); */
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  z-index: -10;
}


.options {
  border-color: #323232;
  color: #323232;
  white-space: normal;
  height: auto;
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
}


.footer{
  background-color: transparent;
  padding: 0 10px;
}
